<div class="container mb-5">
    <h2>Employee Edit Form</h2>
    <div class="card mt-5">
     <form>
      <div class="card-header bg-warning">EDIT Employee DETAILS</div>
      <div class="card-body">
          
            <div class="form-group">
              <label for="employeeId">Employee ID :</label>
               <input type="text" 
                    class="form-control" 
                    id="employeeId"  
                    name="employeeId"
                    [(ngModel)]="updateEmployee.empId">
            
             
            <div class="form-group">
            <label for="employeeName">Employee Name:</label>
            <input type="text" 
                    class="form-control" 
                    id="employeeName"  
                    name="employeeName"
                    [(ngModel)]="updateEmployee.empName">
            </div>
            <div class="form-group">
            <label for="employeeAddress">Employee Address</label>
            <input type="text" 
                    class="form-control" 
                    id="empAddress"  
                    name="employeeAddress"
                    [(ngModel)]="updateEmployee.empAddress">
            </div>
            
      </div> 
      <div class="card-footer bg-warning">
          <button 
                type="button" 
                class="btn btn-danger mr-5"
                (click)="editEmployee()">Update</button>
      </div>
    </div>
    </form>
    </div>
  </div>
