<div class="container mb-5">
    <h2>Book Edit Form</h2>
    <div class="card mt-5">
     <form>
      <div class="card-header bg-warning">EDIT Reimbursment DETAILS</div>
      <div class="card-body">
          
            <div class="form-group">
             <label for="reimbursmentStetus">Reimbursment Id:</label>
             <input type="text" 
                    class="form-control" 
                    id="reimbursmentId"  
                    name="reimbursmentId"
                    [(ngModel)]="updateReimbursment.rbId">
            
              
            
            <div class="form-group">
            <label for="reimbursmentStetus">Reimbursment Status:</label>
            <input type="text" 
                    class="form-control" 
                    id="reimbursmentStatus"  
                    name="reimbursmentStatus"
                    [(ngModel)]="updateReimbursment.rbStatus">
            </div>
            
      </div> 
      <div class="card-footer bg-warning">
          <button 
                type="button" 
                class="btn btn-danger mr-5"
                (click)="editReimbursment()">Update</button>
      </div>
    </div>
    </form>
    </div>
  </div>
