<div class="container">
        <button 
        type="button" 
        class="btn btn-success bm-5"
        (click)="toggleAdd()">
        Add a Reimbursment
    </button>
     

    <div *ngIf="flag">
        <form class="form-inline tm-5">
            
            <label for="reimbursmentId" class="mb-2 mr-sm-2">Id:</label>
            <input 
                type="text" 
                class="form-control mb-2 mr-sm-2" 
                id="reimbursmentId" 
                placeholder="Enter Id" 
                name="reimbursmentId"
                [(ngModel)]="newReimbursment.rbId">

           <label for="reimbursmentAmount" class="mb-2 mr-sm-2">Amount:</label>
            <input 
                type="text" 
                class="form-control mb-2 mr-sm-2" 
                id="reimbursmentAmount" 
                placeholder="Enter Amount" 
                name="reimbursmentAmount"
                [(ngModel)]="newReimbursment.rbAmount">

            <label for="reimbursmentStatus" class="mb-2 mr-sm-2">Status:</label>
            <input 
                type="text" 
                class="form-control mb-2 mr-sm-2" 
                id="reimbursmentStatus" 
                placeholder="Enter Reimbursment Status" 
                name="reimbursmentStatus"
                [(ngModel)]="newReimbursment.rbStatus">
  
             <button 
                type="button" 
                class="btn btn-primary mb-2"
                (click)="addReimbursment()">ADD</button>
          </form> 
    </div>

   <h2>Reimbursment</h2>
    <table class="table table-striped">
      <thead>
        <tr>
        
          <th>Reimbursment ID</th>
          <th>Employee ID</th>
          <th>Reimbursment Amount</th>
          <th>Reimbursment Status</th>
         
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reimbursment of allReimbursment">
           
            <td>{{ reimbursment.rbId }}</td>
            <td>{{ reimbursment.empId}}</td>
            <td>{{ reimbursment.rbAmount }}</td>
            <td>{{ reimbursment.rbStatus}}</td>
            
             
            <td>
                <button 
                    type="button" 
                    class="btn btn-primary small"
                    (click)="goToEditComponent(reimbursment.rbId)">
                    <span class="material-icons">edit</span>
                </button>
            </td>
            
           
        </tr>
      </tbody>
    </table>
      
  </div>

