<div class="container">
    
    <div *ngIf="flag">
       
    </div>
    <h2>Employee List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Employee Name</th>
          <th>Employee Address</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of allEmployee">
            <td>{{ employee.empId }}</td>
            <td>{{ employee.empName}}</td>
            <td>{{ employee.empAddress }}</td>
            <td>
                <button 
                    type="button" 
                    class="btn btn-primary small"
                    (click)="goToEditComponent(employee.empId)">
                    <span class="material-icons">edit</span>
                </button>
            </td>
        </tr>
      </tbody>
    </table>
  </div>

